
      <section>
        <div class="head_ship">
        <div class="head_free_Shiping">
          <div class="head_first_shiping">
            <div class="head_shiping">
              <i class="fa fa-truck"></i>
              <h1>Free Shipping</h1>
              <p>On all orders over $75.00</p>
            </div>
            <div class="head_shiping">
              <i class="fa fa-exchange"></i>
              <h1>Free Return</h1>
              <p>On all orders over $75.00</p>
            </div>
            <div class="head_shiping">
              <i class="fa fa-credit-card"></i>
              <h1>Secure Payment</h1>
              <p>On all orders over $75.00</p>
            </div>
            <div class="head_shiping">
              <i class="fa fa-gift"></i>
              <h1>Free Gift</h1>
              <p>On all orders over $75.00</p>
            </div>
          </div>
        </div>
      </div>
      </section>
  
  
  
      <section>
        <div class="footer_section">
          <div class="footer">
            <div class="footer_one">
              <h1>Apni Bakery</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, maiores.</p>
              <i class="fa fa-facebook-f" id="facebook"></i>
              <i class="fa fa-twitter" id="facebook"></i>
              <i class="fa fa-instagram"></i>
              <i class="fa fa-youtube-play"></i>
            </div>
            <div class="footer_four">
            <div class="footer_two">
              <h1>Information</h1>
              <ul>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Wishlist</a></li>
                <li><a href="">Privact Policy</a></li>
              </ul>
            </div>
            <div class="footer_two">
              <h1>Categories</h1>
              <ul>
                <li><a href="">All Products</a></li>
                <li><a href="">Fresh</a></li>
                <li><a href="">Birthday</a></li>
                <li><a href="">Anniversary</a></li>
              </ul>
            </div>
            <div class="footer_two">
              <h1>My Account</h1>
              <ul>
                <li><a href="">My Account</a></li>
                <li><a href="">Shopping Cart</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Register</a></li>
              </ul>
            </div>
          </div>
            <div class="footer_three">
              <h1>Newsletter</h1>
              <p>Get updates by subscribe our weekly newsletter</p>
              <div class="footer_input">
                <form action="" onsubmit="return emai()">
                  <input id="email" type="email" placeholder="Your mail here">
                  <input type="submit" value="subscribe">
                  <p id="error_email"></p>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_section_two">
          <hr>
          <div class="foot">
          <div class="footer_section">
            <p>Copyright &#169; 2022 ApniBakery. All Rights Reserved. Design By Apni Bakery</p>
          </div>
          <div class="footer_sectio">
            <i class="fa fa-cc-mastercard"></i>
            <i class="fa fa-cc-paypal"></i>
            <i class="fa fa-cc-visa"></i>
            <i class="fa fa-credit-card"></i>
          </div>
        </div>
        </div>
      </section>
      <script src="js/script.js"></script>
</body>
</html>