<section>
      <div class="head_testomonial">
        <div class="head_our_testomonial">
          <div class="head_testo">
            <h4>Our Latest Testomonial</h4>
            <h1>Our Testomonial</h1>
          </div>
          <div class="head_tetomonial_details">
            <div class="head_first_testomonial">
              <div class="head_image_testomonial">
                <img src="images/home/test1.avif" alt="" />
              </div>
              <div class="head_content_testomonial">
                <h1>JACKLY SMITH</h1>
                <h5>Senior MAnager</h5>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae
                  omnis ipsum, adipisci excepturi laboriosam ex nulla nihil nam
                  recusandae qui.
                </p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
            <div class="head_first_testomonial">
              <div class="head_image_testomonial">
                <img src="images/home/test2.avif" alt="" />
              </div>
              <div class="head_content_testomonial">
                <h1>JACKLY SMITH</h1>
                <h5>Senior MAnager</h5>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae
                  omnis ipsum, adipisci excepturi laboriosam ex nulla nihil nam
                  recusandae qui.
                </p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
            </div>
            <div class="head_first_testomonial">
              <div class="head_image_testomonial">
                <img src="images/home/test3.avif" alt="" />
              </div>
              <div class="head_content_testomonial">
                <h1>JACKLY SMITH</h1>
                <h5>Senior MAnager</h5>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae
                  omnis ipsum, adipisci excepturi laboriosam ex nulla nihil nam
                  recusandae qui.
                </p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
            <div class="head_first_testomonial">
              <div class="head_image_testomonial">
                <img src="images/home/test4.avif" alt="" />
              </div>
              <div class="head_content_testomonial">
                <h1>JACKLY SMITH</h1>
                <h5>Senior MAnager</h5>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae
                  omnis ipsum, adipisci excepturi laboriosam ex nulla nihil nam
                  recusandae qui.
                </p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>