{{>header}}
      <section>
        <div class="about_section">
          <h3>Why Choose Us</h3>
          <h1>We do not buy from the open market  traders.</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit illo, est repellendus are quia voluptate neque reiciendis ea placeat labore maiores cum, hic ducimus ad a dolorem soluta consectetur adipisci. Perspiciatis quas ab quibusdam is.</p>
          <p>Itaque accusantium eveniet a laboriosam dolorem? Magni suscipit est corrupti explicabo non perspiciatis, excepturi ut asperiores assumenda rerum? Provident ab corrupti sequi, voluptates repudiandae eius odit aut.</p>
          <h2>Bruce Sutton</h2>
          <h5>Spa Manager</h5>
        </div>
      </section>





      <section>
        <div class="our_team">
          <div class="our_team_head">
            <h1>Our Skilled Partners</h1>
          </div>
          <div class="our_team_members">
            <div class="our_member">
              <div class="our_member_img">
                <img src="images/about/image1.jpg" alt="">
              </div>
                <h1>Bruce Sutton</h1>
                <p>CEO - Founder</p>
                <a href=""><i class="fa fa-facebook-f"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-youtube-play"></i></a>
            </div>
            <div class="our_member">
              <div class="our_member_img">
                <img src="images/about/image2.jpg" alt="">
              </div>
                <h1>Bruce Sutton</h1>
                <p>CEO - Founder</p>
                <a href=""><i class="fa fa-facebook-f"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-youtube-play"></i></a>
            </div>
            <div class="our_member">
              <div class="our_member_img">
                <img src="images/about/image4" alt="">
              </div>
                <h1>Bruce Sutton</h1>
                <p>CEO - Founder</p>
                <a href=""><i class="fa fa-facebook-f"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-youtube-play"></i></a>
            </div>
            <div class="our_member">
              <div class="our_member_img">
                <img src="images/about/image3.webp" alt="">
              </div>
                <h1>Bruce Sutton</h1>
                <p>CEO - Founder</p>
                <a href=""><i class="fa fa-facebook-f"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
        </div>
      </section>

{{>testomonials}}
{{>footer}}