<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
    <h1>Apni Bakery</h1>
    <div class="seller_signin">
        <h2>Sign-In</h2>
        <form action="" onsubmit="return sellerLogin()">
            <label for="">Email or mobile phone number</label>
            <input type="text" id="seller_email">
            <h5 id="seller_error"></h5><br>
            <label for="">Password</label><br>
            <input type="password" id="seller_password">
            <h5 id="seller_pass_eror"></h5>
            <p><a href="">Forget Password?</a></p>
            <input type="submit" value="Sign in">
        </form>
        <input type="checkbox">&nbsp;&nbsp;<label>Keep me signed in.</label>
    </div>
    <div class="seler_create">
        <p>New to Apni Bakery?</p>
        <button>Create your Apni Bakery account</button>
    </div>
</main>
<script src="/js/script.js"></script>
</body>
</html>