{{>header}}
    <section>
      <div class="head_main_section">
        <div class="head_section_one">
          <div class="head_section_one_left">
            <p class="head_span">Eat clean and green</p>
            <h1>
              Natural is <span class="head_span span">always <br /></span>Healty
            </h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Molestiae, quis.
            </p>
            <button>Shop Now</button>
          </div>
          <div class="head_section_one_right">
            <img src="images/home/cake.png" alt="" />
          </div>
        </div>
      </div>
      <div class="head_main_section_two">
        <div class="head_Section_two_left">
          <img src="images/home/cake2.png" alt="" />
        </div>
        <div class="head_section_two">
          <div class="head_section_one_left">
            <p class="head_span">Eat clean and green</p>
            <h1>
              Natural is <span class="head_span span">always <br /></span>Healty
            </h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Molestiae, quis.
            </p>
            <button>Shop Now</button>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="hottest_categories">
        <div class="home_page_heading">
          <p>Recently added to our store</p>
          <h1>Our Hottest Categories</h1>
        </div>
        <div class="home_page_categories">
          <div class="home_categorie">
            <a href="">
              <img src="images/home/spidermancake.png" alt="" />
              <h2>Spider web</h2>
              <p>99 items</p>
              <i class="fa fa-angle-double-right"></i>
            </a>
          </div>
          <div class="home_categorie">
            <a href="">
              <img src="images/home/velntine cake.png" alt="" />
              <h2>Velntine Cake</h2>
              <p>99 items</p>
              <i class="fa fa-angle-double-right"></i>
            </a>
          </div>
          <div class="home_categorie">
            <a href="">
              <img src="images/home/heartcake.png" alt="" />
              <h2>Heart cake</h2>
              <p>99 items</p>
              <i class="fa fa-angle-double-right"></i>
            </a>
          </div>
          <div class="home_categorie">
            <a href="">
              <img src="images/home/hear2.png" alt="" />
              <h2>Pan Cake</h2>
              <p>99 items</p>
              <i class="fa fa-angle-double-right"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="head_trending">
        <p>Recentrly added to our store</p>
        <h1>Trending Products</h1>
      </div>
      <div class="head_trending_nav">
        <ul>
          <li onclick="al()" style="color: red"class="not_active">All</li>
          <li onclick="fresh()" >Fresh</li>
          <li onclick="birthday()" >Birthday</li>
          <li onclick="anniversary()">Anniversery</li>
        </ul>
      </div>

      <div id="all">
        <div id="head_trending_all_categories">
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/heartcake.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/heartcake.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/heartcake.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/heartcake.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/heartcake.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/heartcake.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/heartcake.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/heartcake.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div id="fresh">
        <div id="head_trending_all_categories">
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/cake2.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/heartcake.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/cake.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/cakehouse.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/dark fantasy.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/hear2.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/heart1.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/icecreamcake.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div id="birthday">
        <div id="head_trending_all_categories">
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/hear2.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/heart1.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/heartcake.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/icecreamcake.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/pastry.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/heartcake.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/redvelvet.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/spidermancake.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div id="anniversary">
        <div id="head_trending_all_categories">
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/dark fantasy.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/hear2.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/cake2.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/cake.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/icecreamcake.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/pastry.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/redvelvet.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="home_categorie_all">
            <a href="">
              <img src="images/home/spidermancake.png" alt="" />
              <div class="home_categorie_all_tab">
                <h2>Heart cake</h2>
                <p>99 items</p>
                <div class="home_categore_fa">
                  <i class="fa fa-shopping-cart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      {{!-- <div class="all_section_btn">
        <button>Show More</button>
      </div> --}}
    </section>

    <section>
      <div class="head_orange_section">
        <div class="left_orange_section">
          <h1>Birthday Cake</h1>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero,
            mollitia.
          </p>
          <button>Shop Now</button>
        </div>
        <div class="right_orange_section">
          <h1>Birthday Cake</h1>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero,
            mollitia.
          </p>
          <button>Shop Now</button>
        </div>
      </div>
    </section>

    <section>
      <div class="head_top_rated">
        <div class="head_top_rated_section">
          <p>Recently Added To Our Store</p>
          <h1>Top Rated Products</h1>
        </div>
      </div>
      <div class="head_top_rated_section_two">
        <div
          class="head_top_rate"
          onmouseenter="changeName()"
          onmouseleave="changename()"
        >
          <a href="">
            <img src="images/home/cake.png" alt="" />
            <p id="change_name">Raw Cake</p>
          </a>
          <p class="head_top_color">40.00$</p>
          <h5>Total Sold:1</h5>
          <h5>Stocks:35</h5>
        </div>
        <div
          class="head_top_rate"
          onmouseenter="changeNam()"
          onmouseleave="changenam()"
        >
          <a href="">
            <img src="images/home/cake.png" alt="" />
            <p id="change_nam">Raw Cake</p>
          </a>
          <p class="head_top_color">40.00$</p>
          <h5>Total Sold:1</h5>
          <h5>Stocks:35</h5>
        </div>
        <div
          class="head_top_rate"
          onmouseenter="changeNa()"
          onmouseleave="changena()"
        >
          <a href="">
            <img src="images/home/cake.png" alt="" />
            <p id="change_na">Raw Cake</p>
          </a>
          <p class="head_top_color">40.00$</p>
          <h5>Total Sold:1</h5>
          <h5>Stocks:35</h5>
        </div>
        <div
          class="head_top_rate"
          onmouseenter="changeN()"
          onmouseleave="changen()"
        >
          <a href="">
            <img src="images/home/cake.png" alt="" />
            <p id="change_n">Raw Cake</p>
          </a>
          <p class="head_top_color">40.00$</p>
          <h5>Total Sold:1</h5>
          <h5>Stocks:35</h5>
        </div>
      </div>
    </section>

    <section>
      <div class="head_grab">
        <div class="head_grab_section">
          <div class="head_grab_left">
            <h3>Best Deals of the week!</h3>
            <h1>
              Grab The Best Offer of <br />
              This Week
            </h1>
            <p>
              Shop our selection of fresh cakes. At a discounted price. 10% off
              on all vegetables.
            </p>
            <button>Discover Now</button>
          </div>
          <div class="head_grab_right">
            <img src="images/home/chef.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    {{>testomonials}}
{{>footer}}