{{>header}}
    <section>
      <div class="shop_filters">
        <div class="shop_filter">
          <i class="fa fa-bars"></i>Filter
        </div>
        <div class="shop_sort">
          <label for="">Sort By:</label>
          <select name="" id="">
            <option value="Sort by latest">Sort by latest</option>
            <option value="Sort by populartiy">Sort by populartiy</option>
            <option value="Sort by rating">Sort by rating</option>
          </select>
        </div>
        <div>
          <p>Showing 1-9 of 21 results</p>
        </div>
      </div>
    </section>




    <div id="all">
      <div id="head_trending_all_categories">
        <div class="home_categorie_all">
          <a href="">
            <img src="images/home/heartcake.png" alt="" />
            <div class="home_categorie_all_tab">
              <h2>Heart cake</h2>
              <p>99 items</p>
              <div class="home_categore_fa">
                <i class="fa fa-shopping-cart"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="home_categorie_all">
          <a href="">
            <img src="images/home/heartcake.png" alt="" />
            <div class="home_categorie_all_tab">
              <h2>Heart cake</h2>
              <p>99 items</p>
              <div class="home_categore_fa">
                <i class="fa fa-shopping-cart"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="home_categorie_all">
          <a href="">
            <img src="images/home/heartcake.png" alt="" />
            <div class="home_categorie_all_tab">
              <h2>Heart cake</h2>
              <p>99 items</p>
              <div class="home_categore_fa">
                <i class="fa fa-shopping-cart"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="home_categorie_all">
          <a href="">
            <img src="images/home/heartcake.png" alt="" />
            <div class="home_categorie_all_tab">
              <h2>Heart cake</h2>
              <p>99 items</p>
              <div class="home_categore_fa">
                <i class="fa fa-shopping-cart"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="home_categorie_all">
          <a href="">
            <img src="images/home/heartcake.png" alt="" />
            <div class="home_categorie_all_tab">
              <h2>Heart cake</h2>
              <p>99 items</p>
              <div class="home_categore_fa">
                <i class="fa fa-shopping-cart"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="home_categorie_all">
          <a href="">
            <img src="images/home/heartcake.png" alt="" />
            <div class="home_categorie_all_tab">
              <h2>Heart cake</h2>
              <p>99 items</p>
              <div class="home_categore_fa">
                <i class="fa fa-shopping-cart"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="home_categorie_all">
          <a href="">
            <img src="images/home/heartcake.png" alt="" />
            <div class="home_categorie_all_tab">
              <h2>Heart cake</h2>
              <p>99 items</p>
              <div class="home_categore_fa">
                <i class="fa fa-shopping-cart"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="home_categorie_all">
          <a href="">
            <img src="images/home/heartcake.png" alt="" />
            <div class="home_categorie_all_tab">
              <h2>Heart cake</h2>
              <p>99 items</p>
              <div class="home_categore_fa">
                <i class="fa fa-shopping-cart"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="home_categorie_all">
          <a href="">
            <img src="images/home/heartcake.png" alt="" />
            <div class="home_categorie_all_tab">
              <h2>Heart cake</h2>
              <p>99 items</p>
              <div class="home_categore_fa">
                <i class="fa fa-shopping-cart"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="home_categorie_all">
          <a href="">
            <img src="images/home/heartcake.png" alt="" />
            <div class="home_categorie_all_tab">
              <h2>Heart cake</h2>
              <p>99 items</p>
              <div class="home_categore_fa">
                <i class="fa fa-shopping-cart"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="home_categorie_all">
          <a href="">
            <img src="images/home/heartcake.png" alt="" />
            <div class="home_categorie_all_tab">
              <h2>Heart cake</h2>
              <p>99 items</p>
              <div class="home_categore_fa">
                <i class="fa fa-shopping-cart"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="home_categorie_all">
          <a href="">
            <img src="images/home/heartcake.png" alt="" />
            <div class="home_categorie_all_tab">
              <h2>Heart cake</h2>
              <p>99 items</p>
              <div class="home_categore_fa">
                <i class="fa fa-shopping-cart"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="home_categorie_all">
          <a href="">
            <img src="images/home/heartcake.png" alt="" />
            <div class="home_categorie_all_tab">
              <h2>Heart cake</h2>
              <p>99 items</p>
              <div class="home_categore_fa">
                <i class="fa fa-shopping-cart"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="home_categorie_all">
          <a href="">
            <img src="images/home/heartcake.png" alt="" />
            <div class="home_categorie_all_tab">
              <h2>Heart cake</h2>
              <p>99 items</p>
              <div class="home_categore_fa">
                <i class="fa fa-shopping-cart"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="home_categorie_all">
          <a href="">
            <img src="images/home/heartcake.png" alt="" />
            <div class="home_categorie_all_tab">
              <h2>Heart cake</h2>
              <p>99 items</p>
              <div class="home_categore_fa">
                <i class="fa fa-shopping-cart"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="home_categorie_all">
          <a href="">
            <img src="images/home/heartcake.png" alt="" />
            <div class="home_categorie_all_tab">
              <h2>Heart cake</h2>
              <p>99 items</p>
              <div class="home_categore_fa">
                <i class="fa fa-shopping-cart"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="home_categorie_all">
          <a href="">
            <img src="images/home/heartcake.png" alt="" />
            <div class="home_categorie_all_tab">
              <h2>Heart cake</h2>
              <p>99 items</p>
              <div class="home_categore_fa">
                <i class="fa fa-shopping-cart"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="home_categorie_all">
          <a href="">
            <img src="images/home/heartcake.png" alt="" />
            <div class="home_categorie_all_tab">
              <h2>Heart cake</h2>
              <p>99 items</p>
              <div class="home_categore_fa">
                <i class="fa fa-shopping-cart"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="home_categorie_all">
          <a href="">
            <img src="images/home/heartcake.png" alt="" />
            <div class="home_categorie_all_tab">
              <h2>Heart cake</h2>
              <p>99 items</p>
              <div class="home_categore_fa">
                <i class="fa fa-shopping-cart"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="home_categorie_all">
          <a href="">
            <img src="images/home/heartcake.png" alt="" />
            <div class="home_categorie_all_tab">
              <h2>Heart cake</h2>
              <p>99 items</p>
              <div class="home_categore_fa">
                <i class="fa fa-shopping-cart"></i>
                <i class="fa fa-heart"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <section>
      <div class="shop_buttons">
        <i class="fa fa-angle-left"></i>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <i class="fa fa-angle-right"></i>
      </div>
    </section>
    {{>footer}}