{{>header}}
      <section>
        <div class="wishlist_section">
          <div class="wishlist_heading">
            <h1>Wishlist</h1>
          </div>
          <div class="wishlist_product">
            <div class="wish_product">
              <div class="wish_icon">
                <i class="fa fa-close"></i> 
              </div>
              <div class="wish_image">
                <a href="">
                  <img src="images/home/cake.png" alt="">
                </a>
              </div>
              <div class="wish_pro_details">
                <h1>Fresh Cake</h1>
                <p>COLOR:Blue</p>
                <p>WEIGHT:2kg</p>
              </div>
            </div>
            <div class="wish_pro_price">
              <div class="wish_price">
                <h3>65$</h3>
              </div>
              <div class="wish_stock">
                <p>in stock</p>
              </div>
              <div class="wish_btn">
                <button>ADD TO CART</button>
              </div>
            </div>
          </div>
          <hr>
          <div class="wishlist_product">
            <div class="wish_product">
              <div class="wish_icon">
                <i class="fa fa-close"></i> 
              </div>
              <div class="wish_image">
                <a href="">
                  <img src="images/home/cakehouse.png" alt="">
                </a>
              </div>
              <div class="wish_pro_details">
                <h1>Fresh Cake</h1>
                <p>COLOR:Blue</p>
                <p>WEIGHT:2kg</p>
              </div>
            </div>
            <div class="wish_pro_price">
              <div class="wish_price">
                <h3>65$</h3>
              </div>
              <div class="wish_stock">
                <p>in stock</p>
              </div>
              <div class="wish_btn">
                <button>ADD TO CART</button>
              </div>
            </div>
          </div>
          <hr>
          <div class="wishlist_product">
            <div class="wish_product">
              <div class="wish_icon">
                <i class="fa fa-close"></i> 
              </div>
              <div class="wish_image">
                <a href="">
                  <img src="images/home/cake2.png" alt="">
                </a>
              </div>
              <div class="wish_pro_details">
                <h1>Fresh Cake</h1>
                <p>COLOR:Blue</p>
                <p>WEIGHT:2kg</p>
              </div>
            </div>
            <div class="wish_pro_price">
              <div class="wish_price">
                <h3>65$</h3>
              </div>
              <div class="wish_stock">
                <p>in stock</p>
              </div>
              <div class="wish_btn">
                <button>ADD TO CART</button>
              </div>
            </div>
          </div>
          <hr>
          <div class="wishlist_product">
            <div class="wish_product">
              <div class="wish_icon">
                <i class="fa fa-close"></i> 
              </div>
              <div class="wish_image">
                <a href="">
                  <img src="images/home/dark fantasy.png" alt="">
                </a>
              </div>
              <div class="wish_pro_details">
                <h1>Fresh Cake</h1>
                <p>COLOR:Blue</p>
                <p>WEIGHT:2kg</p>
              </div>
            </div>
            <div class="wish_pro_price">
              <div class="wish_price">
                <h3>65$</h3>
              </div>
              <div class="wish_stock">
                <p>in stock</p>
              </div>
              <div class="wish_btn">
                <button>ADD TO CART</button>
              </div>
            </div>
          </div>
          <hr>
          <div class="wishlist_show_more">
            <div class="wishlist_cont">
              <h3><a href="">Continue shopping</a></h3>
            </div>
            <div class="wishlist_cont">
              <h3><a href="">View All Products</a></h3>
            </div>
          </div>
        </div>
      </section>



      <section>
        <div class="head_top_rated">
          <div class="head_top_rated_section">
            <h1>New Products</h1>
          </div>
        </div>
        <div class="head_top_rated_section_two">
          <div
            class="head_top_rate"
            onmouseenter="changeName()"
            onmouseleave="changename()"
          >
            <a href="">
              <img src="images/home/cake.png" alt="" />
              <p id="change_name">Raw Cake</p>
            </a>
            <p class="head_top_color">40.00$</p>
            <h5>Total Sold:1</h5>
            <h5>Stocks:35</h5>
            <div class="star_checked">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
          <div
            class="head_top_rate"
            onmouseenter="changeNam()"
            onmouseleave="changenam()"
          >
            <a href="">
              <img src="images/home/cake.png" alt="" />
              <p id="change_nam">Raw Cake</p>
            </a>
            <p class="head_top_color">40.00$</p>
            <h5>Total Sold:1</h5>
            <h5>Stocks:35</h5>
            <div class="star_checked">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star cchecked"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
          <div
            class="head_top_rate"
            onmouseenter="changeNa()"
            onmouseleave="changena()"
          >
            <a href="">
              <img src="images/home/cake.png" alt="" />
              <p id="change_na">Raw Cake</p>
            </a>
            <p class="head_top_color">40.00$</p>
            <h5>Total Sold:1</h5>
            <h5>Stocks:35</h5>
            <div class="star_checked">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
          <div
            class="head_top_rate"
            onmouseenter="changeN()"
            onmouseleave="changen()">
            <a href="">
              <img src="images/home/cake.png" alt="" />
              <p id="change_n">Raw Cake</p>
            </a>
            <p class="head_top_color">40.00$</p>
            <h5>Total Sold:1</h5>
            <h5>Stocks:35</h5>
            <div class="star_checked">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
        <div class="new_pro_btn">
          <button>Show More</button>
        </div>
      </section>
{{>footer}}